<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SegmentAI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

<nav>

    <h2>SegmentAI</h2>

    <div>

        <a href="/login">Login</a>

        <a href="/signup">Sign Up</a>

        <a href="/">Prediction</a>

    </div>

</nav>

<section class="hero">

<h1>AI Powered Customer Segmentation</h1>

<p>
Know your customers better using Machine Learning and K-Means Clustering.
Predict customer type in seconds.
</p>

<div class="buttons">

<a href="/" class="btn">Try Prediction</a>

<a href="/login" class="btn2">Login</a>

</div>

</section>

</body>
</html>